*
!.gitignore
!composer/
!AppKernel.php
!linuxforcomposer.test.dist.json
!linuxforcomposer.test.custom.json
!linuxforcomposer.test.empty.json
!linuxforcomposer.test.invalid.json
!linuxforcomposer.test.json
!linuxforcomposer.test.minimum.config.json
!linuxforcomposer.test.missing.detached.json
!linuxforcomposer.test.missing.php.json
!linuxforcomposer.test.missing.script.json
!linuxforcomposer.test.missing.ts.json
!linuxforcomposer.test.multiple.ports.json
!linuxforcomposer.test.multiple.scripts.json
!linuxforcomposer.test.multiple.volumes.json
!linuxforcomposer.test.one.port.json
!linuxforcomposer.test.one.port.noarray.json
!linuxforcomposer.test.one.volume.json
!linuxforcomposer.test.one.volume.noarray.json
