*
!.gitignore
!composer/
!AppKernel.php
!Dockerfile.fake
!linuxforcomposer.test.commit.modified.json
!linuxforcomposer.test.commit.modified.json.wrong
!linuxforcomposer.test.custom.json
!linuxforcomposer.test.dist.json
!linuxforcomposer.test.docker-compose.auth.json
!linuxforcomposer.test.docker-compose.json
!linuxforcomposer.test.dockerfile.auth.json
!linuxforcomposer.test.dockerfile.json
!linuxforcomposer.test.empty.json
!linuxforcomposer.test.invalid.json
!linuxforcomposer.test.invalid.script.json
!linuxforcomposer.test.json
!linuxforcomposer.test.minimum.config.json
!linuxforcomposer.test.minimum.dockerfile.json
!linuxforcomposer.test.missing.detached.json
!linuxforcomposer.test.missing.mount.json
!linuxforcomposer.test.missing.mount.rootname.json
!linuxforcomposer.test.missing.php.json
!linuxforcomposer.test.missing.script.json
!linuxforcomposer.test.missing.ts.json
!linuxforcomposer.test.multiple.mounts.json
!linuxforcomposer.test.multiple.mounts.remove.json
!linuxforcomposer.test.multiple.ports.json
!linuxforcomposer.test.multiple.scripts.json
!linuxforcomposer.test.multiple.volumes.json
!linuxforcomposer.test.one.mount.json
!linuxforcomposer.test.one.mount.remove.json
!linuxforcomposer.test.one.mount.subdir.json
!linuxforcomposer.test.one.port.array.noarray.json
!linuxforcomposer.test.one.port.json
!linuxforcomposer.test.one.port.noarray.json
!linuxforcomposer.test.one.script.noarray.json
!linuxforcomposer.test.one.volume.json
!linuxforcomposer.test.one.volume.noarray.json
